<?xml version="1.0" encoding="UTF-8"?>
<Run version="1.7.0">
    <GameIcon />
    <GameName>{{ game }}</GameName>
    <CategoryName>{{ category }}</CategoryName>
    <Metadata>
        <Run id="" />
        <Platform usesEmulator="false">
        </Platform>
        <Region>
        </Region>
        <Variables />
    </Metadata>
    <Offset>{{ offset }}</Offset>
    <AttemptCount>0</AttemptCount>
    <AttemptHistory>
    </AttemptHistory>
    <Segments>
        {% for segment in segments %}
        <Segment>
            <Name>{{ segment.name }}</Name>
            <Icon />
            <SplitTimes>
                {% for splitTime in segment.splitTimes %}
                <SplitTime name="Personal Best">
                    {% if splitTime.realTime !== null %}
                    <RealTime>{{ splitTime.realTime }}</RealTime>
                    {% endif %}
                </SplitTime>
                {% endfor %}
            </SplitTimes>
            <BestSegmentTime>
                {% if segment.bestSegmentTime.realTime !== null %}
                <RealTime>{{ segment.bestSegmentTime.realTime }}</RealTime>
                {% endif %}
            </BestSegmentTime>
            <SegmentHistory>
            </SegmentHistory>
        </Segment>
        {% endfor %}
    </Segments>
    <AutoSplitterSettings />
</Run>