.dialog {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #222f3e;
  overflow-x: hidden;
  transition: 0.5s;
  transition-timing-function: ease-out;
}

.dialog-active {
  height: 100%;
}

.dialog-inactive {
  height: 0%;
}

.dialog-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #576574;
  font-size: 2rem;
  text-align: center;
}

.dialog-close {
  left: 1rem;
  top: 1.1rem;
  position: absolute;
  font-size: 2rem;
}

.dialog-content {
  margin: 1rem;
  font-size: 1.2rem;
}

.dialog-content input[type="text"] {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.4rem;
  border-style: none;
}
