.dialog {
  position: fixed;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  height: 40%;
  margin-top: 50%;
  background-color: #222f3e;
  overflow-x: hidden;
}

.dialog-fullscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #222f3e;
  overflow-x: hidden;
}

.dialog-transition-active {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s;
  transition-timing-function: ease-out;
}

.dialog-transition-inactive {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  transition: 0.2s;
  transition-timing-function: ease-out;
}

.dialog-header {
  position: fixed;
  width: 80%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #576574;
  font-size: 2rem;
  text-align: center;
}

.dialog-header-fullscreen {
  width: 100%;
}

.dialog-close {
  left: 1rem;
  top: 1.1rem;
  position: absolute;
  font-size: 2rem;
}

.dialog-content {
  margin: 1rem;
  margin-top: 80px;
  font-size: 1.2rem;
}

.dialog-content input[type="text"] {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.4rem;
  border-style: none;
}

.dialog-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1rem;
  font-size: 1.2rem;
}

.dialog-footer-button {
  margin-left: 1rem;
}

.dialog-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
}
