.split {
  display: flex;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  font-size: 1.2rem;
}

.split-title {
  flex: 1;
}

.split-time {
  right: 0rem;
}

.split-active {
  background-color: #2e86de;
}
